{% extends 'ads/default.html' %}

{% block title %}
{{ ad.title }}
{% endblock title %}

{% block content %}
<h3>{{ ad.title }}</h3>
<h5>{{ ad.date_create|date:'j M Y' }} | Автор:{{ ad.author }}</h5>
    <hr>
    <h8>Категория: {{ ad.category }} </h8>
<hr>
<h5>{{ ad.text }}</h5>
<hr>
<img src=" {{ ad.content.name }}" alt="Изображение">
<a class="nav-link" href="{{ ad.id }}/update ">Изменить</a>
<a class="nav-link" href="{{ ad.id }}/delete ">Удалить</a>
<hr>
  <h6>Отзывы:</h6>
        {% for res in response %}
                <h8>Автор: {{ res.author }} | Дата: {{ res.date_create|date:'j M Y' }}</h8>
                <h6>{{ res.text }}</h6>
        {% empty %}
            <li>Отзывов нет.</li>
        {% endfor %}
{% endblock %}